{% extends 'base.html.j2' %}
{% block title %}
Antiques and Collectibles
{% endblock %}
{% block content %}
    <div class="container md-block p-md-4 m-md-6" >
    <div class="row-md-4" style="float:left; margin-left:-60px;width:200px;">
 
    <!--sidebar -->
    <div class="list-group table-striped">
        <a href="{{url_for('main.market', category_id=1)}}" class="list-group-item">Movie Posters</a>
        <a href="{{url_for('main.market', category_id=2)}}" class="list-group-item">Magazines</a>
        <a href="{{url_for('main.market', category_id=3)}}" class="list-group-item">Games</a>
        <a href="{{url_for('main.market', category_id=4)}}" class="list-group-item">Coffee Sets</a>
        <a href="{{url_for('main.market', category_id=5)}}" class="list-group-item">Miscellaneous</a>
    </div>
    <!--sidebar end-->
    </div>

    {# cards to display items #}
    <div class="row">
        {% for item in items %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100" >
                <img class="card-img-top" src={{item['img']}} alt="" width="100%" height="340vh" object-fit="cover"></a>
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{url_for('main.view_item', id=item.id)}}">{{item.name}}</a>
                    </h5>
                    <h6>${{item.price}}</h6>
                    {# <p class="card-text" style="font-size:15px">This is {{item.name}}</p> #}
                </div>
                <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small>
                    <span class="float-right"><a class="btn-info btn-sm" href="{{url_for('main.view_item', id=item.id)}}">View</a></span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
    <br><br><br>

{% endblock %}