{% extends 'base.html.j2' %}
{% block title %}
    Register
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container col-md-6">
        <form method="POST" action="{{url_for('auth.register')}}" class="form-register" style="color:white">
            {{ form.hidden_tag() }}<br>
            <h2 class="text-warning">The Antiques Shop</h2>
            <p class="text-dark">Get all antiques and collections at this shop.</p>
            <img class="mb-4" src="https://res.cloudinary.com/dzzbwxwsv/image/upload/c_scale,h_200,w_350/v1636793686/antiques-logo_fyz0f9.jpg" width="200" height="120">
            <h1 class=" text-dark">
                Register
            </h1>

            {{ form.first_name.label() }}
            {{ form.first_name(class="form-control", placeholder="FirstName") }}

            {{ form.last_name.label() }}
            {{ form.last_name(class="form-control", placeholder="LastName") }}

            {{ form.email.label() }}
            {{ form.email(class="form-control", placeholder="Email") }}

            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="Password") }}

            {{ form.confirm_password.label() }}
            {{ form.confirm_password(class="form-control", placeholder="Confirm Password") }}
 
            <br>

            {{ form.submit(class="btn btn-lg  btn-warning form-control") }}
            <div class="text-dark">Already have an account? <a href="{{ url_for('auth.login') }}">Login here</a></div>
            <br><br>
        </form>
    </div>
</body>
{% endblock %}